---
import { getCollection } from "astro:content";
import { getEntry } from "astro:content";
import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => {
        const [lang, ...slugParts] = project.id.split("/");
        const slug = slugParts.join("/");
        return {
            params: { id: slug, lang: lang },
            props: { project },
        };
    });
}

const currentLocale = Astro.currentLocale;
const { id } = Astro.params;
const entryId = `${currentLocale}/${id}`;
const project = await getEntry("projects", entryId);
if (!project) {
    return new Response(null, {
        status: 404,
        statusText: "Not Found",
    });
}
---

<Layout>
    <h1>{project.data.title}</h1>
    <p>{project.data.description}</p>
    <p>
        {project.data.longDescription}
    </p>
    <img src={project.data.image.src} alt={project.data.title} />
    {
        project.data.links.map((link: { url: string; label: string }) => (
            <a href={link.url}>{link.label}</a>
        ))
    }
</Layout>
