---
const currentLocale = Astro.currentLocale ? Astro.currentLocale : "en";
import Boop from "../components/Boop.astro";
const localizedStrings = await import(
    `../locales/${currentLocale}/general.json`
);
const { heroTitle, heroDescription, downloadResume, seeProjects } =
    localizedStrings;
---

<section class="hero">
    <div class="hero__text">
        <h1>{heroTitle}</h1>
        <p class="subtitle">{heroDescription}</p>
    </div>
    <div class="hero__actions">
        <Boop borderRadius="var(--radius-m)">
            <a
                href={`/resume/${currentLocale}/resume_public.pdf`}
                target="_blank"
                class="button"
            >
                <span>{downloadResume}</span>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-download-icon lucide-download icon"
                    ><path d="M12 15V3" class="arrow"></path><path
                        d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"
                        class="tray"></path><path
                        d="m7 10 5 5 5-5"
                        class="arrow-head"></path></svg
                >
            </a>
        </Boop>
        <Boop borderRadius="var(--radius-m)">
            <a href="#projects" class="button button--primary">
                <span>{seeProjects}</span>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-arrow-right-icon lucide-arrow-right icon"
                    ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"
                    ></path></svg
                >
            </a>
        </Boop>
    </div>
</section>
<style>
    .hero {
        margin: 0 auto;
        max-width: 80ch;
        text-align: center;
        padding-block: var(--spacing-13);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-07);
        animation: fadeIn var(--large-animation-duration)
            var(--large-animation-easing);
    }
    .hero__actions {
        display: flex;
        gap: var(--spacing-07);
        justify-content: center;
        flex-wrap: wrap;
    }
    @media (width <= 30rem) {
        .hero {
            padding-block-end: var(--spacing-07);
        }
        .hero__actions {
            gap: var(--spacing-05);
            & .button {
                flex-grow: 1;
            }
        }
    }
    .hero__text {
        display: flex;
        gap: var(--spacing-03);
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .subtitle {
        font: var(--heading-subtitle);
    }
</style>
