---
import type { InferEntrySchema, RenderedContent } from "astro:content";
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";

const currentLocale = Astro.currentLocale ? Astro.currentLocale : "en";
const projects = await getCollection("projects", ({ id }) => {
    const [lang, ...slugParts] = id.split("/");
    return lang === currentLocale;
});
const localizedStrings = await import(
    `../locales/${currentLocale}/general.json`
);
const { projectTitle } = localizedStrings;
---

<section id="projects">
    <h2>{projectTitle}</h2>
    <ul>
        {
            projects.map(
                (project: {
                    id: string;
                    body?: string;
                    collection: "projects";
                    data: InferEntrySchema<"projects">;
                    rendered?: RenderedContent;
                    filePath?: string;
                }) => (
                    <li>
                        <a
                            href={getRelativeLocaleUrl(
                                currentLocale,
                                `/projects/${project.id.split("/")[1]}`, // Full path: "/projects/project-slug"
                            )}
                        >
                            {project.data.title}
                        </a>
                        <img
                            src={project.data.image.src}
                            alt={project.data.title}
                        />
                        <p>{project.data.description}</p>
                    </li>
                ),
            )
        }
    </ul>
</section>
