---
import { getCollection } from "astro:content";
import type { InferEntrySchema, RenderedContent } from "astro:content";
const projects = await getCollection("projects");
---

<h2>Projects</h2>
<ul>
    {
        projects.map(
            (project: {
                id: string;
                body?: string;
                collection: "projects";
                data: InferEntrySchema<"projects">;
                rendered?: RenderedContent;
                filePath?: string;
            }) => (
                <li>
                    <a href={`/projects/${project.id}`}>{project.data.title}</a>
                    <img
                        src={project.data.image.src}
                        alt={project.data.title}
                    />
                    <p>{project.data.description}</p>
                </li>
            ),
        )
    }
</ul>
