---
import type { InferEntrySchema, RenderedContent } from "astro:content";
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import Tag from "../components/Tag.astro";
import Boop from "./Boop.astro";
const currentLocale = Astro.currentLocale ? Astro.currentLocale : "en";
const projects = await getCollection("projects", ({ id }) => {
    const [lang, ...slugParts] = id.split("/");
    return lang === currentLocale;
});
const localizedStrings = await import(
    `../locales/${currentLocale}/general.json`
);
const { projectTitle } = localizedStrings;
---

<section id="projects" class="category">
    <h2>{projectTitle}</h2>
    <div class="projects-list">
        {
            projects.map(
                (project: {
                    id: string;
                    body?: string;
                    collection: "projects";
                    data: InferEntrySchema<"projects">;
                    rendered?: RenderedContent;
                    filePath?: string;
                }) => (
                    <article class="project">
                        <img
                            class="project__image"
                            src={project.data.image.src}
                            alt={project.data.title}
                        />
                        <div class="project__heading">
                            <h3>{project.data.title}</h3>
                            <p class="project__description">
                                {project.data.description}
                            </p>
                        </div>
                        <div class="tag-container">
                            {project.data.tags.map((tag) => (
                                <Tag tag={tag} />
                            ))}
                        </div>
                        <Boop borderRadius="var(--radius-m)">
                            <a
                                class="button button--layer3 button--full-width"
                                href={getRelativeLocaleUrl(
                                    currentLocale,
                                    `/projects/${project.id.split("/")[1]}`, // Full path: "/projects/project-slug"
                                )}
                                target="_blank"
                            >
                                View Project{" "}
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="lucide lucide-external-link-icon lucide-external-link icon"
                                >
                                    <>
                                        <path
                                            d="M15 3h6v6"
                                            class="arrow-head"
                                        />
                                        <path d="M10 14 21 3" class="arrow" />
                                        <path
                                            d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                                            class="box"
                                        />
                                    </>
                                </svg>
                            </a>
                        </Boop>
                    </article>
                ),
            )
        }
    </div>
</section>
<style>
    h3 {
        font: var(--body-large);
        color: var(--color__normal);
    }
    .projects-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-06);
        padding: 0;
    }
    @media (width <= 37.5rem) {
        .projects-list {
            grid-template-columns: 1fr;
        }
    }
    .project {
        background-color: var(--background__layer2);
        border-radius: var(--radius-l);
        padding: var(--spacing-06);
        gap: var(--spacing-05);
        display: flex;
        flex-direction: column;
    }
    .project__heading {
        flex-grow: 1;
    }
    .project__image {
        width: 100%;
        height: auto;
        border-radius: var(--radius-m);
    }
    .tag-container {
        display: flex;
        gap: var(--spacing-03);
        flex-wrap: wrap;
    }
</style>
